<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/proj2/HuffmanEncoding.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HuffmanEncoding"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="decode thai.txt.huffman meo.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="proj2"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/YoungNguyen/Desktop/proj2_version2/proj2"/>
</launchConfiguration>
